$primary: #000;
$secondary: antiquewhite;
$tertiary: #ff00a2;
$quatenary: rgb(83, 92, 223);
$body-bg: antiquewhite;
$pri-font: 'Bungee Shade', system-ui;
$sec-font: 'Anton', sans-serif;

.nav-link {
  font-family: $sec-font;
  color: $secondary;
  font-size: 1rem;
  text-transform: uppercase;

  &:hover {
    color: $tertiary;
  }
}

// .nav-link .active {
//   color: $tertiary !important;
// }

.kraftflix-brand {
  p {
    color: $tertiary;
    font-family: $sec-font;
    font-size: 3rem;
  }
}
