// profile-view.scss
$primary: rgb(33, 37, 41);
$secondary: rgb(250, 235, 215);
$tertiary: #ff00a2;
$quatenary: rgb(83, 92, 223);
$body-bg: white;
$pri-font: 'Anton', sans-serif;
$sec-font: 'Roboto', sans-serif;

.main-row .div {
  margin: 0;
  padding: 0;
}
.pV-row {
  padding: 0;
}
.fav-movie {
  margin-bottom: 15px;
  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 100%;
    img {
      display: block;
      height: 400px;
      margin: auto;
    }
    figcaption {
      text-align: center;
    }
  }
  button.btn {
    display: block;
    margin: auto;
  }
}

.card {
  margin-bottom: 15px;
}

.ch-pv {
  font-family: $pri-font;
  font-size: large;
  background-color: black;
  color: $secondary;
}
.uI-cB {
  padding: 8px 16px;
}
