/* movie-view.scss */
$primary: rgb(33, 37, 41);
$secondary: rgb(250, 235, 215);
$tertiary: #ff00a2;
$quatenary: rgb(83, 92, 223);
$body-bg: white;
$pri-font: 'Anton', sans-serif;
$sec-font: 'Roboto', sans-serif;

#mV-c {
  .card-header {
    font-size: 2rem;
    font-family: $pri-font;
    background-color: black;
    color: $secondary;
    p {
      font-size: 1.2rem;
      margin: 0;
    }
  }

  .card-img {
    width: 65%;
    align-self: center;
  }

  .card-body {
    .card-subtitle {
      font-family: $sec-font;
      // font-weight: bold;
      background-color: rgb(243, 229, 209);
      color: $primary;
      border: solid rgba(0, 0, 0, 0.1) 1px;
      border-radius: 5px 5px 0px 0px;
      padding: 0.5rem;
    }
    .card-text {
      border: solid rgba(0, 0, 0, 0.2) 1px;
      border-top: none;
      border-radius: 0px 0px 5px 5px;
      padding: 0.4rem 0.7rem;
    }
  }

  .add-button {
    border: none;
    background-color: black;
    font-family: $pri-font;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    color: $secondary;
    transition: all 0.3s ease-in-out;

    .heart {
      margin: 0;
      padding: 0;
      font-family: $sec-font;
      font-size: 2rem;
      color: $secondary;
      vertical-align: middle;
    }

    &:hover {
      transform: scale(1.2);
      color: $secondary;
      .heart {
        color: $tertiary;
      }
    }
  }

  .delete-button {
    font-family: $pri-font;
    padding-top: 0;
    padding-bottom: 0;
    border: 3px solid $tertiary;
    border-radius: 10px;
    background-color: black;
    color: $secondary;
    transition: all 0.3s ease-in-out;

    .heart {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      color: $tertiary;
      vertical-align: middle;
    }

    &:hover {
      transform: scale(0.9);
      color: $secondary;
      border-color: $secondary;
      .heart {
        color: $secondary;
      }
    }
  }
}

.mV-col {
  padding: 0;
}
