$primary: rgb(33, 37, 41);
$secondary: rgb(250, 235, 215);
$tertiary: #ff00a2;
$quatenary: #535cdf;
$body-bg: rgb(250, 235, 215);
$pri-font: 'Anton', sans-serif;
$sec-font: 'Roboto', sans-serif;

@import '~bootstrap/scss/bootstrap.scss';

.primary-button {
  text-transform: uppercase;
  background-color: black;
  color: $secondary;
  // color: $tertiary;
  border: 2px solid black;
  font-family: $pri-font;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 2px solid black;
    color: black;
    background-color: $secondary;
  }
}

.secondary-button {
  border: 2px solid $tertiary;
  border-radius: 7px;
  background-color: black;
  color: $tertiary;
  font-family: $pri-font;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 2px solid $tertiary;
    background-color: black;
    color: $tertiary;
    transform: scale(1.2);
  }
}

.tertiary-button {
  border: 3px solid black;
  border-radius: 7px;
  background-color: black;
  color: $secondary;
  font-family: $pri-font;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 3px solid black;
    background-color: black;
    color: $tertiary;
    transform: scale(1.2);
  }
}

.form-label {
  margin: 0;
  font-family: $sec-font;
  font-weight: bold;
  background-color: rgb(243, 229, 209);
  color: $primary;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  border-radius: 5px 5px 0px 0px;
  padding: 0.5rem 0.9rem;
}

.ch-ui {
  font-weight: bold;
}

.form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
